<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAtFQOQKAoyGc-tWkCx11RLBDcKq_A2FHY</string>
	<key>GCM_SENDER_ID</key>
	<string>703601281965</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.cookingApp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>cooking-app-apvb</string>
	<key>STORAGE_BUCKET</key>
	<string>cooking-app-apvb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:703601281965:ios:7fe3098ce0ea155fd8ef24</string>
</dict>
</plist>